/node_modules
.env*
.claude/
prisma/generated
backup.sql
server.log

# React Router
/.react-router/
/build/

# Vercel
.vercel/*
.env*.local

# Ignore test results
__screenshots__/*.diff.png
__screenshots__/*.new.png
__screenshots__/*.new.html
__screenshots__/*.html.diff
test-results/
